
text-zone {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
}

.project-list {

    list-style-type: none;
    display: flex;
    gap: 100px;
    flex-wrap: wrap; 
    gap: 20px; 

    li {
        margin-right: 20px;
    }

    h2 {
        font-size: 30px;
        color: white;
        margin-top: 0;
        position: relative;
    }

    .photo-folder-image, .blackjack-image, .travel-time-image{
       width: 50em;
    }
}

.project-list li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}
